In [4]:
import pandas as pd
import numpy as np

df = pd.read_csv("complete_data.txt")

In [6]:
df.drop(['Unnamed: 0'], axis = 1)

               0   1  2  userID
0          41544  47  1       1
1          37686  47  1       1
2         115044   0  1       1
3          90127   0  1       1
4          36829   0  1       1
5          36660   0  1       1
6          36662   0  1       1
7          36663   0  1       1
8          36831   0  1       1
9          36050   0  1       1
10         36051   0  1       1
11         90226   0  1       1
12         90227   0  1       1
13         39339   0  1       1
14         67317   0  1       1
15         37012   0  1       1
16         37013   0  1       1
17         38717   0  1       1
18         36225   0  1       1
19         36226   0  1       1
20         37277   0  1       1
21         36228   0  1       1
22         37279   0  1       1
23         37280   0  1       1
24         36323   0  1       1
25         35743   0  1       1
26         37284   0  1       1
27         37285   0  1       1
28         36320   0  1       1
29         37327   0  1       1
...          ...  .. ..     ...
11402223   39895  46  1     249
11402224   34072  46  1     249
11402225     757  46  1     249
11402226     759  46  1     249
11402227     767  46  1     249
11402228  107750  46  1     249
11402229     743  46  1     249
11402230   16294  46  1     249
11402231   16295  46  1     249
11402232   10681  46  1     249
11402233   10682  46  1     249
11402234   49441  46  1     249
11402235   49442  46  1     249
11402236   49438  46  1     249
11402237   10674  46  1     249
11402238   10678  46  1     249
11402239   10796  46  1     249
11402240   10799  46  1     249
11402241   10643  46  1     249
11402242   10646  46  1     249
11402243   10649  46  1     249
11402244     694  46  1     249
11402245     693  46  1     249
11402246     561  46  1     249
11402247   83339  46  1     249
11402248   83340  46  1     249
11402249   83338  46  1     249
11402250     473  46  1     249
11402251     660  46  1     249
11402252   95430  46  1     249

[11402253 rows x 4 columns]

In [7]:
from sklearn.preprocessing import MinMaxScaler, RobustScaler, StandardScaler

In [8]:
scaler = MinMaxScaler(feature_range = (0,1))

In [12]:
df.columns = ['index', 'segmentID', 'time', 'freq', 'userid']

In [13]:
df.head(10)

   index  segmentID  time  freq  userid
0      0      41544    47     1       1
1      1      37686    47     1       1
2      2     115044     0     1       1
3      3      90127     0     1       1
4      4      36829     0     1       1
5      5      36660     0     1       1
6      6      36662     0     1       1
7      7      36663     0     1       1
8      8      36831     0     1       1
9      9      36050     0     1       1

In [14]:
scaled_data = scaler.fit_transform(df[['freq']])

C:\Users\UC\Anaconda2\lib\site-packages\sklearn\preprocessing\data.py:334: DataConversionWarning: Data with input dtype int64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [15]:
df['bin_freq'] = scaled_data

In [17]:
df

             index  segmentID  time  freq  userid  bin_freq
0                0      41544    47     1       1       0.0
1                1      37686    47     1       1       0.0
2                2     115044     0     1       1       0.0
3                3      90127     0     1       1       0.0
4                4      36829     0     1       1       0.0
5                5      36660     0     1       1       0.0
6                6      36662     0     1       1       0.0
7                7      36663     0     1       1       0.0
8                8      36831     0     1       1       0.0
9                9      36050     0     1       1       0.0
10              10      36051     0     1       1       0.0
11              11      90226     0     1       1       0.0
12              12      90227     0     1       1       0.0
13              13      39339     0     1       1       0.0
14              14      67317     0     1       1       0.0
15              15      37012     0     1       1       0.0
16              16      37013     0     1       1       0.0
17              17      38717     0     1       1       0.0
18              18      36225     0     1       1       0.0
19              19      36226     0     1       1       0.0
20              20      37277     0     1       1       0.0
21              21      36228     0     1       1       0.0
22              22      37279     0     1       1       0.0
23              23      37280     0     1       1       0.0
24              24      36323     0     1       1       0.0
25              25      35743     0     1       1       0.0
26              26      37284     0     1       1       0.0
27              27      37285     0     1       1       0.0
28              28      36320     0     1       1       0.0
29              29      37327     0     1       1       0.0
...            ...        ...   ...   ...     ...       ...
11402223  11402223      39895    46     1     249       0.0
11402224  11402224      34072    46     1     249       0.0
11402225  11402225        757    46     1     249       0.0
11402226  11402226        759    46     1     249       0.0
11402227  11402227        767    46     1     249       0.0
11402228  11402228     107750    46     1     249       0.0
11402229  11402229        743    46     1     249       0.0
11402230  11402230      16294    46     1     249       0.0
11402231  11402231      16295    46     1     249       0.0
11402232  11402232      10681    46     1     249       0.0
11402233  11402233      10682    46     1     249       0.0
11402234  11402234      49441    46     1     249       0.0
11402235  11402235      49442    46     1     249       0.0
11402236  11402236      49438    46     1     249       0.0
11402237  11402237      10674    46     1     249       0.0
11402238  11402238      10678    46     1     249       0.0
11402239  11402239      10796    46     1     249       0.0
11402240  11402240      10799    46     1     249       0.0
11402241  11402241      10643    46     1     249       0.0
11402242  11402242      10646    46     1     249       0.0
11402243  11402243      10649    46     1     249       0.0
11402244  11402244        694    46     1     249       0.0
11402245  11402245        693    46     1     249       0.0
11402246  11402246        561    46     1     249       0.0
11402247  11402247      83339    46     1     249       0.0
11402248  11402248      83340    46     1     249       0.0
11402249  11402249      83338    46     1     249       0.0
11402250  11402250        473    46     1     249       0.0
11402251  11402251        660    46     1     249       0.0
11402252  11402252      95430    46     1     249       0.0

[11402253 rows x 6 columns]

In [18]:
df[df['bin_freq']!=0.0]

             index  segmentID  time  freq  userid  bin_freq
58              58      38870     0     2       1      0.02
59              59      44878     0     2       1      0.02
84              84     116386     0     3       1      0.04
85              85      90143     0     3       1      0.04
86              86      38851     0     3       1      0.04
87              87      37097     0     3       1      0.04
88              88     114010     1     2       1      0.02
89              89     114011     1     2       1      0.02
95              95      39429     1     2       1      0.02
179            179      37250     1     2       1      0.02
180            180      37766     1     2       1      0.02
181            181      37765     1     2       1      0.02
182            182      41563     1     3       1      0.04
194            194      81640     2     2       1      0.02
195            195      81641     2     2       1      0.02
196            196     110801     2     2       1      0.02
197            197     110802     2     2       1      0.02
198            198      75577     2     2       1      0.02
199            199      75578     2     2       1      0.02
213            213      36652     2     2       1      0.02
251            251     111276     2     2       1      0.02
319            319      28280     3     2       1      0.02
320            320      28597     3     2       1      0.02
321            321      39504     3     2       1      0.02
322            322      93859     3     2       1      0.02
394            394      38672     4     2       1      0.02
395            395      37702     4     2       1      0.02
396            396     117206     4     2       1      0.02
397            397     117207     4     2       1      0.02
398            398      36949     4     2       1      0.02
...            ...        ...   ...   ...     ...       ...
11401789  11401789      47428    31     2     249      0.02
11401790  11401790      61397    31     2     249      0.02
11401791  11401791      61398    31     2     249      0.02
11401792  11401792      35244    31     2     249      0.02
11401793  11401793      35242    31     2     249      0.02
11401794  11401794      35241    31     2     249      0.02
11401857  11401857      86382    38     2     249      0.02
11401858  11401858      66791    38     2     249      0.02
11401988  11401988     115397    40     2     249      0.02
11401989  11401989     115396    40     2     249      0.02
11402061  11402061     108009    41     2     249      0.02
11402062  11402062      74698    41     2     249      0.02
11402064  11402064      50504    41     2     249      0.02
11402065  11402065     105943    41     2     249      0.02
11402066  11402066     105944    41     2     249      0.02
11402078  11402078      35751    41     2     249      0.02
11402079  11402079      36403    41     2     249      0.02
11402080  11402080      41551    41     2     249      0.02
11402095  11402095      67545    41     2     249      0.02
11402096  11402096      59838    41     2     249      0.02
11402111  11402111      37256    42     2     249      0.02
11402112  11402112      40332    42     2     249      0.02
11402113  11402113      40400    42     2     249      0.02
11402114  11402114      40401    42     2     249      0.02
11402115  11402115      35700    42     2     249      0.02
11402116  11402116      37260    42     2     249      0.02
11402117  11402117      37259    42     2     249      0.02
11402118  11402118      46400    42     2     249      0.02
11402119  11402119      46401    42     2     249      0.02
11402179  11402179      77385    44     2     249      0.02

[2002509 rows x 6 columns]

In [19]:
df = df.drop(['freq', 'index'], axis = 1)

In [20]:
df.head(10)

   segmentID  time  userid  bin_freq
0      41544    47       1       0.0
1      37686    47       1       0.0
2     115044     0       1       0.0
3      90127     0       1       0.0
4      36829     0       1       0.0
5      36660     0       1       0.0
6      36662     0       1       0.0
7      36663     0       1       0.0
8      36831     0       1       0.0
9      36050     0       1       0.0

In [21]:
len(df)

11402253

In [22]:
df.to_csv('scaled')